section, footer {
  position: relative; }
  section::before, footer::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(left, transparent, black), url(../img/ruido.gif);
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.8;
    background-size: cover; }
  @media screen and (max-width: 440px) {
    section:not(footer)::before, footer:not(footer)::before {
      background-size: auto; } }
  section > *, footer > * {
    z-index: 1; }

#slider {
  width: 100%;
  height: 100vh;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-top: 81px; }
  #slider .slide {
    position: absolute;
    left: -100%;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #slider .slide .play {
      padding: 10px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
      z-index: 9; }
      #slider .slide .play img {
        width: 100%;
        height: 100%; }
      #slider .slide .play:hover {
        transform: scale(1.2) translateY(0) !important;
        opacity: 0.7 !important; }
    #slider .slide h3 {
      max-width: 370px;
      font-size: 30px;
      white-space: normal;
      text-align: center;
      z-index: 9; }
    #slider .slide .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      #slider .slide .bg::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: -webkit-linear-gradient(left, transparent, black), url(../img/header.png);
        left: 0;
        top: 0;
        z-index: 0;
        opacity: 0.8; }
      #slider .slide .bg .right {
        width: 40%;
        height: 100%;
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
        background-size: contain;
        background-position-y: bottom;
        background-repeat: no-repeat;
        z-index: 2;
        float: right;
        transition: all 1.5s cubic-bezier(0, 0, 0.09, 0.95); }
      #slider .slide .bg .top, #slider .slide .bg .down {
        width: 100%;
        background-position: center;
        background-size: cover;
        height: 50%;
        background-repeat: no-repeat;
        transition: all 1.5s cubic-bezier(0, 0, 0.09, 0.95);
        z-index: 4; }
      #slider .slide .bg .top {
        transform: translateY(-50%); }
      #slider .slide .bg .down {
        transform: translateY(50%) translateX(50%); }
    #slider .slide.active {
      opacity: 1;
      left: 0; }
      #slider .slide.active .bg .right {
        transform: translateX(0%) translateY(-50%);
        opacity: 0.6; }
      #slider .slide.active .bg .top {
        transform: translateY(0%); }
      #slider .slide.active .bg .down {
        transform: translateY(0%) translateX(0%); }
    #slider .slide:nth-child(1) {
      background-color: gray; }
    #slider .slide:nth-child(2) {
      background-color: #eee; }
    #slider .slide:nth-child(3) {
      background-color: blue; }
    @media screen and (max-width: 440px) {
      #slider .slide h3 {
        max-width: 290px;
        font-size: 20px; }
      #slider .slide .right {
        width: 100% !important; }
      #slider .slide.active .bg .right {
        transform: translateX(24%) translateY(-50%);
        opacity: 0.8; } }

#chapters {
  display: flex;
  align-items: center;
  background-color: black;
  padding-bottom: 50px;
  margin-bottom: -50px;
  position: relative;
  background-size: cover;
  filter: drop-shadow(0px 0px 5px black);
  z-index: 6;
  padding: 20px 0; }
  #chapters::before {
    background: url(../img/epsiodio.png);
    background-size: cover; }
  #chapters .owl-stage-outer {
    /*width: 90%;
    margin-left: 5%;*/ }
  #chapters .owl-prev, #chapters .owl-next {
    position: absolute;
    top: calc(50% - 17px);
    opacity: 0.7;
    height: 34px;
    width: 34px;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95); }
    #chapters .owl-prev:hover, #chapters .owl-next:hover {
      opacity: 1;
      transform: scale(0.8); }
  #chapters .owl-prev {
    left: 4px;
    transform: rotateZ(180deg); }
    #chapters .owl-prev:hover {
      transform: rotateZ(180deg) scale(0.8); }
  #chapters .owl-next {
    right: 4px; }
  #chapters .owl-item {
    transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #chapters .owl-item:not(.active) {
      opacity: 0; }
  #chapters .chapter {
    /*margin: $m;
    width: calc(100% / 5 - 10px);*/
    min-width: 240px;
    background-color: rgba(214, 214, 214, 0.15);
    z-index: 1; }
    #chapters .chapter .img {
      background-color: white;
      background-image: url(../img/c.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      #chapters .chapter .img::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.5)), url(../img/ruido.gif);
        left: 0;
        top: 0;
        z-index: 0;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95); }
      #chapters .chapter .img > * {
        z-index: 1; }
      #chapters .chapter .img div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
        opacity: 0;
        transform: scale(1) translateY(40px); }
        #chapters .chapter .img div img {
          width: 100%;
          height: 100%; }
        #chapters .chapter .img div:first-child {
          margin-right: 15px; }
        #chapters .chapter .img div:hover {
          transform: scale(1.2) translateY(0) !important;
          opacity: 0.7 !important; }
    #chapters .chapter h3, #chapters .chapter p {
      margin: 5px 10px; }
    #chapters .chapter h3 {
      text-transform: uppercase; }
    #chapters .chapter p {
      font-size: 12px;
      font-family: Prompt; }
    #chapters .chapter:hover .img::before {
      opacity: 0.2; }
    #chapters .chapter:hover .img div {
      opacity: 1;
      transform: scale(1) translateY(0); }
  @media screen and (max-width: 1200px) {
    #chapters {
    	/*padding-bottom: 20px;
    	background-image: url(../img/epsiodio.png);
    	background-color: black;
    	overflow-x: auto;
    	padding: 20px 40px;
		&::before{
			content: none;
		}
		.chapter{
			min-width: 220px;
			&:last-child{
				margin-right: 40px;
			}
			}*/ } }

#characters {
  background-color: beige;
  z-index: 4;
  padding-top: 76px;
  padding-bottom: 160px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #characters::before {
    background-image: url(../img/personajes.png);
    background-size: cover; }
  #characters .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 15px; }
  #characters > p {
    text-align: center;
    max-width: 500px;
    font-size: 14px; }
  #characters .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    width: 100%;
    overflow-x: hidden; }
    #characters .content .character {
      width: calc(100% / 3 - 40px);
      height: 350px;
      position: relative;
      margin-top: 40px; }
      #characters .content .character .img {
        z-index: 5;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        filter: grayscale(1);
        transition: filter 0.5s cubic-bezier(0, 0, 0.09, 0.95); }
      #characters .content .character .name {
        position: absolute;
        text-align: center;
        color: white;
        padding: 5px 6px;
        width: 120px;
        padding-left: 31px;
        display: inline-block;
        left: 0;
        top: 40px;
        z-index: 1; }
        #characters .content .character .name::after {
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
          background-color: #424242;
          z-index: 0; }
        #characters .content .character .name .text {
          z-index: 1;
          position: relative; }
      #characters .content .character:first-child .name, #characters .content .character:last-child .name {
        text-align: right;
        padding-right: 40px;
        right: -23px;
        left: auto;
        padding-left: 53px; }
        #characters .content .character:first-child .name::after, #characters .content .character:last-child .name::after {
          -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%); }
      #characters .content .character[name="patasola"] .name {
        top: auto;
        bottom: 50px;
        right: calc(50% - 20px);
        left: auto; }
      #characters .content .character[name="candilejas"] .name {
        top: 72px;
        padding-right: 46px;
        left: -40px; }
      #characters .content .character[name="silvon"] .name {
        left: -69px;
        top: calc(50% - 64px);
        text-align: left;
        padding-right: 40px;
        width: 90px; }
      #characters .content .character[name="madre"] .name {
        bottom: calc(50% - 40px);
        top: auto; }
      #characters .content .character:hover .img {
        filter: grayscale(0); }
      @media screen and (max-width: 1180px) {
        #characters .content .character {
          width: calc(100% / 2 - 40px); }
          #characters .content .character[name="candilejas"] .name {
            left: 20px; }
          #characters .content .character[name="silvon"] .name {
            left: -29px; }
          #characters .content .character[name="madre"] .name {
            right: 20px; } }
      @media screen and (max-width: 1000px) {
        #characters .content .character[name="silvon"] .name {
          left: -60px; }
        #characters .content .character[name="candilejas"] .name {
          left: 2px; } }
      @media screen and (max-width: 900px) {
        #characters .content .character[name="silvon"] {
          transform: translateX(50px); }
          #characters .content .character[name="silvon"] .name {
            left: -84px; }
        #characters .content .character[name="candilejas"] .name {
          left: -24px; }
        #characters .content .character[name="madre"] .name {
          right: -6px; } }
      @media screen and (max-width: 780px) {
        #characters .content .character[name="madre"] .name {
          right: -26px; } }
      @media screen and (max-width: 710px) {
        #characters .content .character[name="llorona"] .name {
          right: -78px;
          top: 56px; }
        #characters .content .character[name="madre"] .name {
          padding-left: 0; } }
      @media screen and (max-width: 600px) {
        #characters .content .character {
          width: 100%; }
          #characters .content .character[name="llorona"] .name {
            right: 55px; }
          #characters .content .character[name="candilejas"] .name {
            left: 48px; }
          #characters .content .character[name="silvon"] {
            transform: translateX(17%); }
            #characters .content .character[name="silvon"] .name {
              left: 0; }
          #characters .content .character[name="madre"] .name {
            right: 82px; } }
      @media screen and (max-width: 490px) {
        #characters .content .character {
          font-size: 13px;
          height: 260px; }
          #characters .content .character[name="llorona"] .name {
            right: 38px;
            width: 80px; }
          #characters .content .character[name="candilejas"] .name {
            width: 88px;
            left: 20px; }
          #characters .content .character[name="silvon"] .name {
            padding-right: 10px; }
          #characters .content .character[name="madre"] .name {
            right: 63px; } }
      @media screen and (max-width: 420px) {
        #characters .content .character[name="madre"] .name {
          right: 39px; } }
      @media screen and (max-width: 400px) {
        #characters .content .character[name="llorona"] .name {
          right: 19px;
          width: 65px; }
        #characters .content .character[name="silvon"] .name {
          left: -30px; } }
      @media screen and (max-width: 370px) {
        #characters .content .character {
          height: 200px; }
          #characters .content .character[name="silvon"] .name {
            left: -23px;
            top: 47px; }
          #characters .content .character[name="madre"] .name {
            width: 90px; } }
      @media screen and (max-width: 355px) {
        #characters .content .character[name="candilejas"] {
          transform: translateX(40px); }
          #characters .content .character[name="candilejas"] .name {
            left: -11px; }
        #characters .content .character[name="madre"] .name {
          right: 17px; } }

#guerra {
  overflow-y: visible;
  position: relative;
  padding: 0; }
  #guerra::before {
    background-image: url(../img/sangre.png); }
  #guerra .mano {
    height: 660px;
    right: 50px;
    bottom: 7px;
    position: absolute;
    z-index: 3;
    opacity: 1; }
    @media screen and (max-width: 920px) {
      #guerra .mano {
        height: 303px;
        right: auto;
        left: 0; } }
    @media screen and (max-width: 720px) {
      #guerra .mano {
        height: 243px;
        right: auto;
        left: 0; } }
    @media screen and (max-width: 440px) {
      #guerra .mano {
        height: 170px; } }
  #guerra .bg {
    width: 100%; }

#histories {
  margin-bottom: -50px;
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 250px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.49);
  background-color: black;
  display: flex;
  position: relative; }
  #histories::before {
    background-image: url(../img/relatos.png); }
  #histories .articles {
    display: flex;
    width: calc(100% - 380px);
    height: 481px;
    flex-wrap: wrap; }
    #histories .articles .date {
      letter-spacing: 1px;
      font-size: 13px; }
    #histories .articles .header {
      width: 100%;
      margin-bottom: 20px; }
      #histories .articles .header h2 {
        text-transform: uppercase;
        font-size: 33px; }
      #histories .articles .header div {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      #histories .articles .header .tag {
        padding: 6px 13px;
        background-color: #212121;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        text-transform: uppercase;
        font-size: 12px; }
      #histories .articles .header .filter {
        width: 90px;
        text-transform: uppercase;
        border: none;
        background-color: #212121;
        color: white;
        padding: 4px 8px;
        font-size: 14px;
        border-radius: 20px;
        outline: none; }
    #histories .articles .preview {
      margin-right: 20px;
      width: calc(100% - 360px - 20px); }
      #histories .articles .preview .img {
        background-color: white;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; }
        #histories .articles .preview .img .date {
          padding: 6px;
          padding-left: 10px;
          display: block;
          border-bottom-left-radius: 16px;
          border-top-left-radius: 16px;
          background-color: gray;
          color: white;
          margin-bottom: 15px; }
      #histories .articles .preview .content {
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 15px; }
      #histories .articles .preview .title {
        font-family: 'Prompt'; }
      #histories .articles .preview .title, #histories .articles .preview p {
        margin: 15px 0; }
      #histories .articles .preview .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px; }
        #histories .articles .preview .info .controls {
          display: flex;
          align-items: center; }
          #histories .articles .preview .info .controls div {
            padding: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-left: 6px; }
            #histories .articles .preview .info .controls div svg {
              fill: white; }
      #histories .articles .preview .user {
        display: inline-block;
        padding: 1px 11px;
        color: black;
        background-color: white; }
      #histories .articles .preview .title {
        margin-top: 0; }
      #histories .articles .preview p {
        font-size: 16px; }
    #histories .articles ul {
      padding: 0;
      width: 360px;
      height: 100%;
      overflow-y: auto;
      margin-top: 0; }
      #histories .articles ul .article {
        height: 120px;
        width: 100%;
        margin-bottom: 20px;
        display: flex; }
        #histories .articles ul .article .img {
          background-color: white;
          height: 100%;
          min-width: 120px; }
        #histories .articles ul .article .info {
          margin-left: 15px; }
          #histories .articles ul .article .info .title {
            font-family: 'Prompt';
            font-weight: 500;
            margin-bottom: 3px;
            margin-top: 0;
            letter-spacing: 0px;
            font-size: 18px; }
          #histories .articles ul .article .info .date {
            font-size: 11px;
            letter-spacing: 0;
            font-weight: 300; }
  #histories .sonidos {
    width: 360px;
    margin-left: 20px;
    margin-top: 89px; }
    #histories .sonidos h3 {
      margin-top: 0;
      padding-bottom: 10px;
      text-transform: uppercase; }
    #histories .sonidos .photo {
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 50%; }
    #histories .sonidos .preview {
      margin-right: 20px;
      width: calc(100% - 20px);
      display: flex; }
      #histories .sonidos .preview .header {
        margin-top: 0; }
      #histories .sonidos .preview .bar {
        width: 100%;
        height: 57px;
        background-color: white;
        border-radius: 30px;
        margin-bottom: 10px; }
      #histories .sonidos .preview .img {
        background-color: white;
        width: 100%;
        height: 280px;
        margin-bottom: 20px; }
      #histories .sonidos .preview .content {
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 15px; }
      #histories .sonidos .preview h3, #histories .sonidos .preview p {
        margin: 15px 0; }
      #histories .sonidos .preview .user {
        margin-right: 20px; }
        #histories .sonidos .preview .user .photo {
          background-color: white;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-image: url("../img/user2.jpg");
          background-size: cover;
          background-position: center; }
        #histories .sonidos .preview .user span {
          display: block;
          font-size: 13px;
          font-weight: 500;
          margin-top: 3px; }
        #histories .sonidos .preview .user .buttons {
          display: flex;
          align-items: center;
          margin-top: 4px; }
          #histories .sonidos .preview .user .buttons div {
            width: 15px;
            height: 15px;
            margin-right: 4px;
            padding: 4px;
            cursor: pointer; }
            #histories .sonidos .preview .user .buttons div svg {
              width: 100%;
              height: 100%;
              overflow: visible;
              fill: white; }
        #histories .sonidos .preview .user .name {
          text-transform: uppercase;
          margin-top: 8px; }
      #histories .sonidos .preview .info p {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.13);
        margin-top: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; }
      #histories .sonidos .preview .title {
        margin-top: 0; }
      #histories .sonidos .preview p {
        font-size: 13px; }
  #histories .audio-list {
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px; }
  @media screen and (max-width: 1100px) {
    #histories .articles {
      height: auto; }
      #histories .articles .preview {
        width: 100%; }
      #histories .articles ul {
        width: 100%;
        height: 400px !important;
        margin-top: 20px; } }
  @media screen and (max-width: 815px) {
    #histories {
      flex-direction: column; }
      #histories > div {
        width: 100% !important; }
      #histories .articles {
        flex-wrap: nowrap;
        flex-direction: column;
        height: auto; }
        #histories .articles > * {
          width: 100% !important; }
        #histories .articles ul {
          height: 300px !important;
          margin-top: 40px; }
      #histories .sonidos {
        margin-left: 0; }
        #histories .sonidos .preview {
          margin-right: 0;
          width: 100%; } }

#sounds {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  padding-top: 50px;
  background-color: black;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.49); }
  #sounds::before {
    background-image: url(../img/banda-sonora.png); }
  #sounds > .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #sounds > .header h2 {
      font-size: 32px;
      text-transform: uppercase; }
    #sounds > .header svg {
      width: 100px;
      height: 100px; }
  #sounds .sonidos, #sounds .soundtracks {
    margin-left: 20px; }
    #sounds .sonidos h3, #sounds .soundtracks h3 {
      padding-bottom: 10px;
      border-bottom: 2px solid white;
      text-transform: uppercase; }
    #sounds .sonidos .photo, #sounds .soundtracks .photo {
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 50%; }
  #sounds .sonidos {
    width: auto; }
    #sounds .sonidos #socialTabs {
      width: 340px; }
      #sounds .sonidos #socialTabs .header {
        justify-content: flex-start; }
      #sounds .sonidos #socialTabs .body .tab {
        padding: 0; }
      #sounds .sonidos #socialTabs .body .tab.active {
        overflow-y: auto;
        height: 400px; }
      #sounds .sonidos #socialTabs .body [name="facebook"] {
        overflow-y: hidden; }
        #sounds .sonidos #socialTabs .body [name="facebook"] .fb-page {
          width: 100%;
          height: 100%; }
          #sounds .sonidos #socialTabs .body [name="facebook"] .fb-page > span, #sounds .sonidos #socialTabs .body [name="facebook"] .fb-page iframe {
            width: 100% !important;
            height: 100% !important; }
  #sounds .soundtracks {
    width: calc(100% - 220px - 40px - 340px); }
    #sounds .soundtracks > p {
      font-size: 13px; }
    #sounds .soundtracks .actual {
      background-color: rgba(0, 0, 0, 0.6); }
      #sounds .soundtracks .actual .info {
        display: flex;
        align-items: center;
        padding: 20px; }
        #sounds .soundtracks .actual .info span {
          display: block; }
        #sounds .soundtracks .actual .info .photo {
          margin-right: 20px; }
      #sounds .soundtracks .actual .player {
        display: flex;
        align-items: center;
        margin-top: 20px; }
        #sounds .soundtracks .actual .player .play {
          margin-right: 10px;
          margin-left: 20px; }
          #sounds .soundtracks .actual .player .play svg {
            width: 30px;
            height: 30px;
            border: 3px solid white;
            border-radius: 50%;
            padding: 4px;
            fill: white; }
          #sounds .soundtracks .actual .player .play span {
            display: block;
            text-align: center;
            font-size: 12px; }
        #sounds .soundtracks .actual .player .bar {
          width: calc(100% - 50px);
          height: 57px;
          background-color: white;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px; }
      #sounds .soundtracks .actual .controls {
        display: flex;
        justify-content: flex-end; }
        #sounds .soundtracks .actual .controls svg {
          width: 20px;
          height: 20px;
          fill: white;
          margin: 20px 0;
          margin-right: 10px;
          cursor: pointer; }
    #sounds .soundtracks .audio .title {
      width: 100%;
      display: inline-block;
      text-align: center; }
  #sounds .audio-list {
    padding: 0;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px; }
  #sounds #upload {
    width: 200px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #sounds #upload svg {
      paddin: 10px;
      width: 80px;
      height: 80px;
      background-color: gray;
      border-radius: 50%;
      fill: white;
      margin-bottom: 20px; }
    #sounds #upload p {
      font-size: 12px; }
  @media screen and (max-width: 940px) {
    #sounds .soundtracks {
      width: calc(100% - 40px - 340px); }
    #sounds #upload {
      width: 100%; } }
  @media screen and (max-width: 660px) {
    #sounds {
      flex-direction: column; }
      #sounds > div {
        width: 100% !important;
        margin-left: 0 !important; }
      #sounds .sonidos {
        display: flex;
        justify-content: center; }
      #sounds .soundtracks {
        margin-top: 20px; }
        #sounds .soundtracks .audio-list {
          padding-right: 0; } }

#locations {
  position: relative; }
  #locations .header {
    display: flex;
    align-items: center;
    background-color: white;
    background-image: url(../img/redes.png);
    justify-content: center;
    padding: 20px 5%;
    margin-top: -10px;
    height: 100px;
    color: #424242;
    background-size: cover; }
    #locations .header span {
      text-transform: uppercase;
      font-family: Squada One;
      font-size: 36px; }
    #locations .header p {
      font-size: 14px;
      width: 250px;
      margin: 0 50px; }
    #locations .header a {
      min-width: 30px;
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 50%;
      padding: 10px;
      background-color: #424242;
      margin-right: 20px; }
      #locations .header a svg {
        width: 100%;
        height: 100%;
        fill: white; }
    @media screen and (max-width: 950px) {
      #locations .header p {
        font-size: 11px; } }
    @media screen and (max-width: 810px) {
      #locations .header p {
        display: none; }
      #locations .header span {
        margin-right: 20px;
        font-size: 25px; } }
    @media screen and (max-width: 440px) {
      #locations .header a {
        min-width: 20px;
        width: 20px;
        height: 20px;
        margin-right: 10px; } }
  #locations #map {
    height: 80vh; }
  #locations #types {
    position: absolute;
    height: 80vh;
    right: 0;
    top: 140px;
    margin: 0;
    padding: 0;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-right: 20px; }
    #locations #types li {
      width: 60px;
      height: 60px;
      background-color: gray;
      margin-bottom: 20px;
      cursor: pointer;
      border-radius: 50%; }
      #locations #types li:first-child {
        margin-top: 20px; }
    @media screen and (max-width: 440px) {
      #locations #types li {
        width: 40px;
        height: 40px; } }
  #locations .gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #424242;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border-radius: 2px 2px 85px 2px; }
  #locations #iw-container {
    margin-bottom: 10px; }
    #locations #iw-container .iw-header {
      display: flex;
      align-items: center; }
      #locations #iw-container .iw-header .user-img {
        min-width: 100px;
        height: 100px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        z-index: 4;
        border: 2px solid white;
        box-sizing: border-box; }
      #locations #iw-container .iw-header span {
        display: block;
        font-weight: 400; }
      #locations #iw-container .iw-header .iw-user {
        font-size: 16px; }
      #locations #iw-container .iw-header .iw-place, #locations #iw-container .iw-header .iw-date {
        font-size: 11px; }
      #locations #iw-container .iw-header .iw-title {
        padding: 5px;
        background-color: white;
        color: #424242;
        transform: translateX(-65px);
        border-radius: 16px;
        width: 164px;
        padding-left: 50px;
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        font-family: Prompt;
        font-style: italic; }
      #locations #iw-container .iw-header .user-img, #locations #iw-container .iw-header + p {
        margin: 15px; }
      #locations #iw-container .iw-header + p {
        margin-right: 30px; }
    #locations #iw-container .iw-buttons {
      display: flex;
      align-items: center;
      justify-content: center; }
      #locations #iw-container .iw-buttons svg {
        margin-left: 10px;
        width: 20px;
        height: 20px;
        fill: white; }
        #locations #iw-container .iw-buttons svg:first-child {
          margin-left: 0; }
  #locations .iw-close {
    width: 20px !important;
    height: 20px !important;
    background-image: url(../img/close.svg);
    top: 23px !important;
    right: 60px !important; }
    #locations .iw-close img {
      display: none; }

/*# sourceMappingURL=home.css.map */
