body {
  background-color: white;
  color: black; }

main {
  display: flex;
  margin-top: 81px;
  padding: 40px 12%; }
  main > * {
    width: calc(50% - 10px); }
  main > .img {
    background-color: aliceblue;
    margin-right: 20px; }
  @media screen and (max-width: 1000px) {
    main {
      padding: 40px; } }
  @media screen and (max-width: 650px) {
    main {
      flex-direction: column; }
      main > * {
        width: 100%; }
      main > .img {
        margin-right: 0;
        height: 300px; } }
  @media screen and (max-width: 440px) {
    main {
      padding: 40px 20px; } }

.tabs .body .tab[name="historia"] h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0; }
.tabs .body .tab[name="historia"] .subtitulo {
  font-size: 22px;
  margin: 20px 0; }

/*# sourceMappingURL=personaje.css.map */
