body {
  background-color: white;
  color: black; }

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:active {
  background-color: black; }

article {
  padding: 40px 12%;
  margin-top: 81px; }
  article .titulo {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0px; }
  article .path {
    font-size: 12px;
    opacity: 0.8; }
  article .info {
    font-size: 12px; }
  article .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; }
    article .social .left {
      display: flex;
      align-items: center; }
      article .social .left a {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        padding: 5px;
        background-color: black;
        margin-right: 5px; }
        article .social .left a svg {
          width: 100%;
          height: 100%;
          fill: white; }
    article .social .like {
      width: 20px;
      height: 20px; }
      article .social .like svg {
        width: 100%;
        height: 100%;
        fill: black; }
  @media screen and (max-width: 1100px) {
    article {
      padding: 40px; } }
  @media screen and (max-width: 440px) {
    article {
      padding: 40px 20px; } }

main {
  display: flex; }
  main .content {
    width: calc(100% - 380px); }
    main .content .img {
      background-color: black;
      width: 100%;
      height: 300px; }
    main .content .split {
      display: flex; }
      main .content .split > * {
        width: calc(50% - 10px); }
      main .content .split .img {
        margin-right: 20px; }
      main .content .split p {
        margin-top: 0; }
    main .content p {
      font-size: 14px; }
  main aside {
    width: 360px;
    margin-left: 20px; }
    main aside h3 {
      margin-top: 0;
      padding-bottom: 10px;
      text-transform: uppercase; }
    main aside .photo {
      width: 60px;
      height: 60px;
      background-color: gray;
      border-radius: 50%; }
    main aside .preview {
      margin-right: 20px;
      width: calc(100% - 20px);
      display: flex; }
      main aside .preview .header {
        margin-top: 0; }
      main aside .preview .img {
        background-color: gray;
        width: 100%;
        height: 280px;
        margin-bottom: 20px; }
      main aside .preview .content {
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 15px; }
      main aside .preview h3, main aside .preview p {
        margin: 15px 0; }
      main aside .preview .user {
        margin-right: 20px; }
        main aside .preview .user .photo {
          background-color: gray;
          width: 60px;
          height: 60px;
          border-radius: 50%; }
        main aside .preview .user span {
          display: block;
          font-size: 13px;
          font-weight: 500;
          margin-top: 3px; }
        main aside .preview .user .name {
          text-transform: uppercase;
          margin-top: 8px; }
      main aside .preview .info p {
        padding: 20px;
        background-color: #f5f5f5;
        margin-top: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; }
      main aside .preview .title {
        margin-top: 0; }
      main aside .preview p {
        font-size: 13px; }
    main aside ul {
      padding: 0; }
    main aside .audio-list {
      height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 10px; }
    main aside .articles .article {
      border-top: 1px solid gray;
      padding-top: 20px;
      margin-top: 20px; }
      main aside .articles .article p {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500; }
      main aside .articles .article .info {
        font-size: 12px;
        opacity: 0.7; }
  @media screen and (max-width: 760px) {
    main .content {
      width: calc(100% - 270px); }
    main aside {
      width: 250px; }
      main aside .preview {
        width: 100%;
        margin-right: 0px;
        flex-direction: column;
        align-items: center; }
        main aside .preview .user {
          display: flex;
          flex-direction: column;
          margin-right: 0;
          margin-bottom: 20px; }
          main aside .preview .user span {
            text-align: center;
            font-size: 9px; }
          main aside .preview .user .name {
            font-size: 13px; } }
  @media screen and (max-width: 670px) {
    main {
      flex-direction: column; }
      main .content, main aside {
        width: 100%; }
      main aside {
        margin-left: 0;
        margin-top: 40px; }
        main aside .preview {
          flex-direction: row; }
          main aside .preview .user {
            margin-right: 20px; } }
  @media screen and (max-width: 520px) {
    main .content p {
      font-size: 12px; }
    main aside .preview p {
      font-size: 11px; } }
  @media screen and (max-width: 440px) {
    main .content .split {
      flex-direction: column; }
      main .content .split > * {
        width: 100%; }
      main .content .split .img {
        margin-right: 0px;
        margin-bottom: 20px; }
    main aside .preview {
      flex-direction: column; }
      main aside .preview .user {
        margin-right: 0px; } }

/*# sourceMappingURL=relato.css.map */
