@import url("https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700|Squada+One");
* {
  font-family: 'Prompt'; }

body {
  margin: 0;
  color: white;
  background-color: black;
  overflow-x: hidden;
  overflow-y: visible; }

h1, h2, h3, h4, h5 {
  font-family: 'Squada One';
  letter-spacing: 2px;
  font-weight: 300; }

#menu {
  width: 400px;
  height: 100%;
  position: fixed;
  background-color: white;
  left: -400px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
  transition: left 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  overflow-y: auto; }
  #menu > *:not(.bg) {
    z-index: 1;
    transform: translateX(-10px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  #menu .social {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-top: 75px; }
    #menu .social a {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      padding: 5px;
      background-color: black;
      margin-left: 5px; }
      #menu .social a svg {
        width: 100%;
        height: 100%;
        fill: white; }
      #menu .social a:first-child {
        margin-left: 0; }
  #menu nav {
    margin-top: 95px;
    transition-delay: 0.2s !important; }
    #menu nav a {
      display: block;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      text-align: right;
      padding: 14px 0;
      padding-right: 40px;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      position: relative; }
      #menu nav a::after {
        content: attr(data-text);
        text-align: right;
        right: 40px;
        position: absolute;
        background: url("../img/ruido.gif");
        background-repeat: repeat-x;
        background-position: 0 0;
        color: transparent;
        -webkit-font-smoothing: antialiased;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #menu nav a:hover {
        opacity: 0.6;
        transform: scale(0.96); }
        #menu nav a:hover::after {
          opacity: 1; }
  #menu .search {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 40px;
    margin-bottom: 40px;
    transition-delay: 0.3s !important; }
    #menu .search input {
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 0;
      padding-left: 13px;
      background-color: #f3f3f3;
      outline: none; }
    #menu .search #search {
      width: 40px;
      min-width: 40px;
      height: 100%;
      padding: 7px;
      background-color: black;
      box-sizing: border-box;
      cursor: pointer; }
      #menu .search #search svg {
        width: 100%;
        height: 100%;
        fill: white; }
  #menu .bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: visible;
    z-index: 0;
    display: none;
    fill: white; }
  @media screen and (max-width: 440px) {
    #menu {
      width: 100%;
      left: -100%;
      background-color: transparent; }
      #menu .social {
        display: flex; }
      #menu nav {
        margin-top: 0; }
        #menu nav a {
          text-align: center;
          padding-right: 0; } }

#menuBg {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  display: none;
  left: 0;
  top: 0;
  z-index: 97;
  background-color: black;
  transition: opacity 1s cubic-bezier(0, 0.92, 0.58, 1); }

#menuToggle {
  width: 30px;
  height: 25px;
  position: fixed;
  left: 20px;
  top: 25px;
  cursor: pointer;
  z-index: 999;
  transition: left 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  #menuToggle svg {
    width: 100%;
    height: 100%;
    fill: white;
    stroke: white;
    stroke-width: 3px;
    overflow: visible; }
    #menuToggle svg path {
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      transform-origin: center; }
      #menuToggle svg path:nth-child(2) {
        transform: translateY(15px); }
      #menuToggle svg path:nth-child(3) {
        transform: translateY(30px); }
  @media screen and (max-width: 390px) {
    #menuToggle {
      width: 40px;
      height: 23px; } }

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 81px;
  z-index: 98;
  position: fixed;
  width: calc(100% - 40px);
  top: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.36); }
  header .name {
    transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    header .name img {
      height: 40px; }
  header .right {
    position: absolute;
    right: 20px; }
    header .right a {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      padding: 5px;
      background-color: white;
      margin-right: 5xpx; }
      header .right a svg {
        width: 100%;
        height: 100%; }
      header .right a.login {
        background-color: transparent;
        fill: white;
        border: 2px solid white;
        width: 20px;
        height: 20px;
        padding: 3px;
        cursor: pointer; }
  @media screen and (max-width: 654px) {
    header .name img {
      width: 190px;
      height: auto; } }
  @media screen and (max-width: 440px) {
    header .right a:not(.login) {
      display: none; } }
  @media screen and (max-width: 390px) {
    header .name {
      margin: 0; }
      header .name img {
        width: 180px;
        height: auto; } }

body.menu-show #menu {
  left: 0; }
body.menu-show #menuToggle {
  left: 430px; }
  body.menu-show #menuToggle path:nth-child(1) {
    opacity: 0; }
  body.menu-show #menuToggle path:nth-child(2) {
    transform: translateY(15px) rotateZ(-45deg); }
  body.menu-show #menuToggle path:nth-child(3) {
    transform: translateY(15px) rotateZ(45deg); }
  @media screen and (max-width: 650px) {
    body.menu-show #menuToggle {
      left: 340px; }
      body.menu-show #menuToggle svg {
        fill: black;
        stroke: black; } }
  @media screen and (max-width: 440px) {
    body.menu-show #menuToggle {
      right: 20px;
      left: auto; } }
body.menu-show header .name {
  opacity: 0; }

section {
  padding: 10px 15%; }
  @media screen and (max-width: 1400px) {
    section {
      padding: 10px 5%; } }

.tabs .header {
  display: flex;
  height: 60px;
  align-items: center;
  position: relative; }
  .tabs .header .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 110px;
    cursor: pointer;
    background-image: url("../img/tab-black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    z-index: 4; }
    .tabs .header .button span {
      color: white;
      text-transform: uppercase;
      font-family: Squada One; }
    .tabs .header .button:not(:first-child) {
      margin-left: -20px; }
    .tabs .header .button:nth-child(2) {
      z-index: 3; }
    .tabs .header .button:nth-child(3) {
      z-index: 2; }
    .tabs .header .button.active {
      background-image: url("../img/tab-gray.png"); }
    .tabs .header .button.disabled {
      visibility: hidden;
      display: none; }
.tabs .body {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  height: calc(100% - 40px);
  background-color: white; }
  .tabs .body .tab {
    position: relative;
    top: 0;
    height: 0;
    transition: right 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    right: -100%;
    white-space: normal;
    opacity: 0;
    padding: 20px;
    overflow-y: auto;
    padding: 0; }
    .tabs .body .tab.active {
      display: block;
      right: 0;
      opacity: 1;
      height: auto;
      padding: 20px; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  width: 5px;
  height: 5px;
  background-color: transparent; }

::-webkit-scrollbar-button {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:active {
  background-color: #eee; }

.audio-element {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: calc(100% - 10px);
  padding-left: 10px;
  margin-top: 20px;
  box-sizing: unset;
  color: white; }
  .audio-element .buttons {
    display: flex; }
    .audio-element .buttons div {
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95); }
      .audio-element .buttons div svg {
        width: 100%;
        height: 100%;
        fill: white; }
      .audio-element .buttons div img {
        width: 100%;
        height: 100%; }
      .audio-element .buttons div:hover {
        transform: scale(0.8);
        opacity: 0.7; }
    .audio-element .buttons .play {
      /*background-color: white;
      width: 15px;
      height: 15px;
      padding: 10px;
      border-radius: 50%;
      svg{
      	fill: black;
      }
      */ }

.form-element {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 2px solid black; }
  .form-element .icon {
    width: 20px;
    height: 20px;
    fill: black;
    position: absolute;
    z-index: 0; }
  .form-element input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    padding-left: 30px;
    z-index: 2;
    outline: none; }

footer {
  padding: 40px 5%;
  min-height: 70vh;
  background-color: black;
  display: flex;
  justify-content: flex-end; }
  footer::before {
    background-image: url(../img/footer-fill.jpg) !important;
    background-size: cover !important; }
  footer .center {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    left: 0;
    background-image: url(../img/llorona-footer.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    footer .center .logo {
      width: 300px;
      margin-bottom: 40px; }
    footer .center .social {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .center .social a {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
        margin-right: 20px; }
        footer .center .social a svg {
          width: 100%;
          height: 100%;
          fill: black; }
        footer .center .social a:last-child {
          margin-right: 0; }
  footer .right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    footer .right span, footer .right a {
      display: block;
      text-decoration: none;
      color: white;
      font-weight: 300; }
    footer .right h5 {
      font-family: 'Prompt';
      font-size: 14px;
      letter-spacing: 0; }
    footer .right .uppercase {
      text-transform: uppercase; }
    footer .right .imgs {
      display: flex;
      align-items: center; }
      footer .right .imgs .img {
        width: 150px;
        height: 150px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
        footer .right .imgs .img.cultura {
          background-image: url(../img/cultura.png); }
        footer .right .imgs .img.todos {
          background-image: url(../img/todos.png); }
  @media screen and (max-width: 820px) {
    footer {
      height: 600px; }
      footer .center {
        padding-bottom: 28px; }
        footer .center .logo {
          width: 144px; }
      footer .right {
        justify-content: flex-start; } }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.64); }
  .modal .window {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-width: 1300px;
    max-height: 800px;
    background: white; }
  .modal.show {
    display: flex; }

.modal-login {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  .modal-login .window {
    width: 350px;
    height: 320px;
    max-width: none;
    max-height: none;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    overflow: hidden;
    position: relative;
    color: black;
    opacity: 0;
    transform: scale(0.9); }
    .modal-login .window .header {
      display: flex;
      align-items: center; }
      .modal-login .window .header .button {
        height: 40px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        width: calc(50% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
        .modal-login .window .header .button:not(.login):hover {
          opacity: 0.4; }
      .modal-login .window .header .register {
        background-color: #f5f5f5; }
    .modal-login .window .modal-form {
      padding: 0 20px;
      width: calc(100% - 40px); }
      .modal-login .window .modal-form .form-element {
        width: 100%;
        margin-bottom: 20px; }
        .modal-login .window .modal-form .form-element:first-child {
          margin-top: 10px; }
      .modal-login .window .modal-form button {
        width: 100%;
        padding: 14px 0;
        background-color: black;
        margin-bottom: 20px;
        margin-top: 30px;
        color: white;
        outline: none;
        border: none;
        font-size: 17px;
        cursor: pointer; }
    .modal-login .window .login-form {
      transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .modal-login .window .register-form {
      height: calc(100% - 60px);
      position: absolute;
      left: 40px;
      top: 60px;
      opacity: 0;
      display: none;
      z-index: 9;
      background-color: white;
      transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87), left 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .modal-login .window.show-register {
      height: 430px; }
      .modal-login .window.show-register .header .login {
        background-color: #f5f5f5; }
        .modal-login .window.show-register .header .login:hover {
          opacity: 0.4; }
      .modal-login .window.show-register .header .register {
        background-color: white; }
        .modal-login .window.show-register .header .register:hover {
          opacity: 1; }
      .modal-login .window.show-register .register-form {
        left: 0;
        opacity: 1; }
      .modal-login .window.show-register .login-form {
        opacity: 0; }
    @media screen and (max-width: 370px) {
      .modal-login .window {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
