$transitionAll: all .5s cubic-bezier(0,0,0.09,0.87);
$curve: cubic-bezier(0,0,0.09,0.87);
section, footer{
	position: relative;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/ruido.gif);
		left: 0;
		top: 0;
		z-index: 0;
		opacity: 0.8;
		background-size: cover;
	}
	@media screen and (max-width: 440px){
		&:not(footer)::before{
			background-size: auto;
		}
	}
	& > *{
		z-index: 1;
	}
}
#slider{
	width: 100%;
	height: 100vh;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	margin-top: 81px;
	.slide{
		position: absolute;
		left: -100%;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 9;
		transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.play{
			padding: 10px;
			width: 80px;
			height: 80px;
			//background-color: #f5f5f5;
			border-radius: 50%;
			cursor: pointer;
			transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
			z-index: 9;
			img{
				width: 100%;
				height: 100%;
			}
			&:hover{
				transform: scale(1.2) translateY(0) !important;
				opacity: 0.7 !important;
			}
		}
		h3{
			max-width: 370px;
			font-size: 30px;
			white-space: normal;
			text-align: center;
			z-index: 9;
		}	
		.bg{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/header.png);
				left: 0;
				top: 0;
				z-index: 0;
				opacity: 0.8;
			}
			.right{
				width: 40%;
				height: 100%;
				transform: translateX(100%) translateY(-50%);
				opacity: 0;
				background-size: contain;
				background-position-y: bottom;
				background-repeat: no-repeat;
				z-index: 2;
				float: right;
				transition: all 1.5s cubic-bezier(0, 0, 0.09, 0.95);
			}
			.top, .down{
				width: 100%;
				background-position: center;
				background-size: cover;
				height: 50%;
				background-repeat: no-repeat;
				transition: all 1.5s cubic-bezier(0, 0, 0.09, 0.95);
				z-index: 4;

			}
			.top{
				transform: translateY(-50%);
			}
			.down{
				transform: translateY(50%) translateX(50%);
			}
		}
		&.active{
			opacity: 1;
			left: 0;
			.bg{
				.right{
					transform: translateX(0%) translateY(-50%);
					opacity: 0.6;
				}
				.top{
					transform: translateY(0%);
				}
				.down{
					transform: translateY(0%) translateX(0%);
				}
			}
		}
		&:nth-child(1){
			background-color: gray;
		}
		&:nth-child(2){
			background-color: #eee;
		}
		&:nth-child(3){
			background-color: blue;
		}
		@media screen and (max-width: 440px){
			h3{
				max-width: 290px;
    			font-size: 20px;
			}
			.right{
				width: 100% !important;
			}
			&.active{
				.bg .right{
					transform: translateX(24%) translateY(-50%);
					opacity: 0.8;
				}
			}
		}
	}
}
#chapters{
	display: flex;
	align-items: center;
	background-color: black;
	padding-bottom: 50px;
	margin-bottom: -50px;
	position: relative;
	background-size: cover;	
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
	z-index: 6;
	padding: 20px 0;
	&::before{
		background: url(../img/epsiodio.png);
		background-size: cover;
	}
	.owl-stage-outer{
		/*width: 90%;
		margin-left: 5%;*/
	}
	.owl-prev, .owl-next {
		position: absolute;
		top: calc(50% - 17px);
		opacity: 0.7;
		height: 34px;
		width: 34px;
		background-image: url(../img/next.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
		&:hover{
			opacity: 1;
			transform: scale(0.8);
		}
	}
	.owl-prev{
		left: 4px;
		transform: rotateZ(180deg);
		&:hover{
			transform: rotateZ(180deg) scale(0.8);
		}
	}
	.owl-next{
		right: 4px;
	}
	.owl-item{
		transition: opacity 0.5s $curve;
		&:not(.active){
			opacity: 0;
		}
	}
	.chapter{
		$m: 10px;
		/*margin: $m;
		width: calc(100% / 5 - #{$m});*/
		min-width: 240px;
		background-color: rgba(214, 214, 214, 0.15);
		z-index: 1;
		.img{
			background-color: white;
			background-image: url(../img/c.jpg);
			background-position: center;
			background-size: cover;
			width: 100%;
			height: 150px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.5)), url(../img/ruido.gif);
				left: 0;
				top: 0;
				z-index: 0;
				opacity: 0;
				transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
			}
			& > *{
				z-index: 1;
			}
			div{
				width: 30px;
				height: 30px;
				//background-color: #f5f5f5;
				border-radius: 50%;
				cursor: pointer;
				transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);
				opacity: 0;
				transform: scale(1) translateY(40px);
				img{					
					width: 100%;
					height: 100%;
				}
				&:first-child{
					margin-right: 15px;
				}
				&:hover{
					transform: scale(1.2) translateY(0) !important;
					opacity: 0.7 !important;
				}
			}
		}
		h3, p{
			margin: 5px 10px;
		}
		h3{
			text-transform: uppercase;
		}
		p{
			font-size: 12px;
			font-family: Prompt;
		}
		&:hover{
			.img {
				&::before{
					opacity: 0.2;
				}
				div{
					opacity: 1;
					transform: scale(1) translateY(0);
				}
			}
		}
	}
	@media screen and (max-width: 1200px){
    	/*padding-bottom: 20px;
    	background-image: url(../img/epsiodio.png);
    	background-color: black;
    	overflow-x: auto;
    	padding: 20px 40px;
		&::before{
			content: none;
		}
		.chapter{
			min-width: 220px;
			&:last-child{
				margin-right: 40px;
			}
			}*/
		}
	}
#characters{
	background-color: beige;
	z-index: 4;
	padding-top: 76px;
	padding-bottom: 160px;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	&::before{
		background-image: url(../img/personajes.png);
		background-size: cover;
	}
	.title{
		text-align: center;
		text-transform: uppercase;
		font-size: 32px;
		margin-bottom: 15px;

	}
	> p{
		text-align: center;
		max-width: 500px;
		font-size: 14px;
	}
	.content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		color: white;
		width: 100%;
		overflow-x: hidden;
		.character{
			width: calc(100% / 3 - 40px);
			height: 350px;
			position: relative;
			margin-top: 40px;
			.img{
				z-index: 5;
				width: 100%;
				height: 100%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
				filter: grayscale(1);
				transition: filter 0.5s cubic-bezier(0, 0, 0.09, 0.95);	
			}
			.name{
				position: absolute;
				text-align: center;
				color: white;
				padding: 5px 6px;
				width: 120px;
				padding-left: 31px;
				display: inline-block;
				left: 0;
				top: 40px;
				z-index: 1;
				&::after{
					width: 100%;
					height: 100%;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					-webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
					clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
					background-color: #424242;
					z-index: 0;
				}
				.text{
					z-index: 1;
					position: relative;
				}
			}
			&:first-child, &:last-child{
				.name{
					text-align: right;
					padding-right: 40px;
					right: -23px;
					left: auto;				    
					padding-left: 53px;
					&::after{
						-webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
						clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
					}
				}
			}
			&[name="patasola"]{
				.name{
					top: auto;
					bottom: 50px;
					right: calc(50% - 20px);
					left: auto;
				}
			}
			&[name="candilejas"]{
				.name{
					top: 72px;
					padding-right: 46px;
					left: -40px;
				}
			}
			&[name="silvon"]{
				.name{
					left: -69px;
					top: calc(50% - 64px);
					text-align: left;
					padding-right: 40px;
					width: 90px;
				}
			}
			&[name="madre"]{
				.name{
					bottom: calc(50% - 40px);
					top: auto;
				}
			}
			&:hover{
				.img{
					filter: grayscale(0);
				}
			}
			@media screen and (max-width: 1180px){			
				width: calc(100% / 2 - 40px);
				&[name="candilejas"] .name{
					left: 20px;
				}
				&[name="silvon"] .name{
					left: -29px;
				}
				&[name="madre"] .name{
					right: 20px;
				}
			}
			@media screen and (max-width: 1000px){		
				&[name="silvon"] .name{
					left: -60px;
				}
				&[name="candilejas"] .name{
					left: 2px;
				}
			}
			@media screen and (max-width: 900px){		
				&[name="silvon"]{
					transform: translateX(50px);
					.name{
						left: -84px;
					}
				}
				&[name="candilejas"] .name{
					left: -24px;
				}
				&[name="madre"] .name{
					right: -6px;
				}
			}
			@media screen and (max-width: 780px){
				&[name="madre"] .name{
					right: -26px;
				}
			}
			@media screen and (max-width: 710px){
				&[name="llorona"] .name{
					right: -78px;
					top: 56px;
				}
				&[name="madre"] .name{
					padding-left: 0;
				}
			}
			@media screen and (max-width: 600px){
				width: 100%;
				&[name="llorona"] .name{
					right: 55px;
				}
				&[name="candilejas"] .name{
					left: 48px;
				}
				&[name="silvon"]{
					transform: translateX(17%);
					.name{
						left: 0;
					}
				}
				&[name="madre"] .name{
					right: 82px;
				}
			}
			@media screen and (max-width: 490px){
				font-size: 13px;
				height: 260px;
				&[name="llorona"] .name{
					right: 38px;
					width: 80px;
				}
				&[name="candilejas"] .name{
					width: 88px;
					left: 20px;
				}
				&[name="silvon"] .name{
					padding-right: 10px;
				}
				&[name="madre"] .name{
					right: 63px;
				}
			}
			@media screen and (max-width: 420px){
				&[name="madre"] .name {
					right: 39px;
				}
			}
			@media screen and (max-width: 400px){
				&[name="llorona"] .name {
					right: 19px;
					width: 65px;
				}
				&[name="silvon"] .name{
					left: -30px;
				}
			}
			@media screen and (max-width: 370px){
				height: 200px;
				&[name="silvon"] .name{
					left: -23px;
					top: 47px;
				}
				&[name="madre"] .name{
					width: 90px;
				}
			}
			@media screen and (max-width: 355px){
				&[name="candilejas"]{
					transform: translateX(40px);
					.name{
						left: -11px;
					}
				}
				&[name="madre"] .name{
					right: 17px;
				}
			}
		}
	}

}


#guerra{
	//background-color: beige;
	overflow-y: visible;
	position: relative;
	padding: 0;
	&::before{
		background-image: url(../img/sangre.png);
	}
	.mano{
		height: 660px;
		right: 50px;
		bottom: 7px;
		position: absolute;
		z-index: 3;
		opacity: 1;
		@media screen and (max-width: 920px){
			height: 303px;
		    right: auto;
		    left: 0;
		}
		@media screen and (max-width: 720px){
			height: 243px;
		    right: auto;
		    left: 0;
		}
		@media screen and (max-width: 440px){
			height: 170px;
		}
	}
	.bg{
		width: 100%;
	}
	

}
#histories{
	margin-bottom: -50px;
	margin-top: -50px;
	padding-top: 50px;
	padding-bottom: 250px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.49);
	background-color: black;
	display: flex;
	position: relative;
	&::before{
		background-image: url(../img/relatos.png);
	}
	.articles{
		display: flex;
		$ulw: 360px;
		width: calc(100% - 380px);
		height: 481px;
		flex-wrap: wrap;
		.date{
			letter-spacing: 1px;
			font-size: 13px;
		}
		.header{
			width: 100%;
			margin-bottom: 20px;
			h2{
				text-transform: uppercase;
				font-size: 33px;
			}
			div{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.tag{
				padding: 6px 13px;
				background-color: #212121;
				border-bottom-left-radius: 15px;
				border-top-left-radius: 15px;
				text-transform: uppercase;
				font-size: 12px;
			}
			.filter{
				width: 90px;
				text-transform: uppercase;
				border: none;
				background-color: #212121;
				color: white;
				padding: 4px 8px;
				font-size: 14px;
				border-radius: 20px;
				outline: none;
			}
		}
		.preview{
			$m: 20px;
			margin-right: $m;
			width: calc(100% - #{$ulw} - #{$m});
			.img{
				background-color: white;
				width: 100%;
				height: 280px;
				margin-bottom: $m;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				.date{
					padding: 6px;
					padding-left: 10px;
					display: block;
					border-bottom-left-radius: 16px;
					border-top-left-radius: 16px;
					background-color: gray;
					color: white;
					margin-bottom: 15px;
				}
			}
			.content{
				position: relative;
				background-color: rgba(255, 255, 255, 0.1);			
				padding: 15px;	
			}
			.title{
				font-family: 'Prompt';
			}
			.title, p{
				margin: 15px 0;
			}
			.info{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 15px;
				.controls{
					display: flex;
					align-items: center;
					div{
						padding: 10px;
						width: 20px;
						height: 20px;
						cursor: pointer;
						margin-left: 6px;
						svg{
							fill: white;
						}
					}
				}
			}
			.user{
				display: inline-block;
				padding: 1px 11px;
				color: black;
				background-color: white;
			}
			.title{
				margin-top: 0;
			}
			p{
				font-size: 16px;
			}
		}
		ul{
			padding: 0;
			width: $ulw;
			height: 100%;
			overflow-y: auto;
			margin-top: 0;
			.article{
				height: 120px;
				width: 100%;
				margin-bottom: 20px;
				display: flex;
				.img{
					background-color: white;
					height: 100%;
					min-width: 120px;
				}
				.info{
					margin-left: 15px;
					.title{
						font-family: 'Prompt';
						font-weight: 500;
						margin-bottom: 3px;
						margin-top: 0;
						letter-spacing: 0px;
						font-size: 18px;
					}
					.date{
						font-size: 11px;
						letter-spacing: 0;
						font-weight: 300
					}
				}
			}
		}
	}
	.sonidos{
		width: 360px;
		margin-left: 20px;
		margin-top: 89px;
		h3{
			margin-top: 0;
			padding-bottom: 10px;
			//border-bottom: 2px solid white;
			text-transform: uppercase;
		}
		.photo{
			width: 60px;
			height: 60px;
			background-color: white;
			border-radius: 50%;	
		}
		.preview{
			$m: 20px;
			margin-right: $m;
			width: calc(100% - #{$m});
			display: flex;
			.header{
				margin-top: 0;
			}
			.bar{
				width: 100%;
				height: 57px;
				background-color: white;
				border-radius: 30px;
				margin-bottom: 10px;
			}
			.img{
				background-color: white;
				width: 100%;
				height: 280px;
				margin-bottom: $m;
			}
			.content{
				position: relative;
				background-color: rgba(0, 0, 0, 0.2 );			
				padding: 15px;	
			}
			h3, p{
				margin: 15px 0;
			}
			.user{
				margin-right: 20px;
				.photo{
					background-color: white;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					background-image: url('../img/user2.jpg');
					background-size: cover;
					background-position: center;
				}
				span{
					display: block;
					font-size: 13px;
					font-weight: 500;
					margin-top: 3px;
				}
				.buttons{
					display: flex;
					align-items: center;
					margin-top: 4px;
					div{
						width: 15px;
						height: 15px;
						margin-right: 4px;
						padding: 4px;
						cursor: pointer;
						svg{
							width: 100%;
							height: 100%;
							overflow: visible;
							fill: white;
						}
					}
				}
				.name{
					text-transform: uppercase;
					margin-top: 8px;
				}
			}
			.info{
				p{
					padding: 20px;
					background-color: rgba(255, 255, 255, 0.13);
					margin-top: 0;
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
				}
			}


			.title{
				margin-top: 0;
			}
			p{
				font-size: 13px;
			}
		}
	}
	.audio-list{
		padding: 0;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 10px;
		
	}
	@media screen and (max-width: 1100px){
		.articles{
			height: auto;
			.preview{
				width: 100%;
			}
			ul{
				width: 100%;
				height: 400px !important;
    			margin-top: 20px;
			}
		}
	}
	@media screen and (max-width: 815px){
		flex-direction: column;
		> div{
			width: 100% !important;
		}
		.articles{
			flex-wrap: nowrap;
			flex-direction: column;
			height: auto;
			> *{
				width: 100% !important;
			}
			ul{
				height: 300px !important;
				margin-top: 40px;
			}
		}
		.sonidos{
			margin-left: 0;
			.preview{
				margin-right: 0;
				width: 100%;
			}
		}
	}
}
#sounds{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 80px;
	padding-top: 50px;
	background-color: black;
	$upload_w: 220px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.49);
	&::before{
		background-image: url(../img/banda-sonora.png);
	}
	> .header{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		h2{
			font-size: 32px;
			text-transform: uppercase;
		}
		svg{
			width: 100px;
			height: 100px;
		}
	}
	.sonidos, .soundtracks{ 
		margin-left: 20px;
		h3{
			padding-bottom: 10px;
			border-bottom: 2px solid white;
			text-transform: uppercase;
		}
		.photo{
			width: 60px;
			height: 60px;
			background-color: white;
			border-radius: 50%;			
		}
		
	}
	.sonidos{
		width: auto;	
		#socialTabs{
			width: 340px;
			.header{
				justify-content: flex-start;
			}
			.body{
				.tab{
					padding: 0;
				}
				.tab.active{
					overflow-y: auto;
					height: 400px;
				}
				[name="facebook"]{
					overflow-y: hidden;
					.fb-page{
						width: 100%;
						height: 100%;
						& > span, iframe{
							width: 100% !important;
							height: 100% !important;
						}
					}

				}
			}
		}
	}
	.soundtracks{
		width: calc(100% - #{$upload_w} - 40px - 340px);
		> p{
			font-size: 13px;
		}
		.actual{
			background-color: rgba(0, 0, 0, 0.6);

			.info{
				display: flex;
				align-items: center;
				padding: 20px;
				
				span{
					display: block;
				}
				.photo{
					margin-right: 20px;
				}
			}
			.player{
				display: flex;
				align-items: center;
				margin-top: 20px;
				.play{
					margin-right: 10px;
					margin-left: 20px;
					svg{
						width: 30px;
						height: 30px;
						border: 3px solid white;
						border-radius: 50%;
						padding: 4px;
						fill: white;
					}
					span{
						display: block;
						text-align: center;
						font-size: 12px;
					}
				}
				.bar{
					width: calc(100% - 50px);
					height: 57px;
					background-color: white;
					border-top-left-radius: 30px;
					border-bottom-left-radius: 30px;
				}
			}
			.controls{
				display: flex;
				justify-content: flex-end;
				svg{
					width: 20px;
					height: 20px;
					fill: white;
					margin: 20px 0;
					margin-right: 10px;
					cursor: pointer;
				}
			}
		}
		.audio{
			.title{
				width: 100%;
				display: inline-block;
				text-align: center;
			}
		}
	}
	.audio-list{
		padding: 0;
		height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 10px;
		
	}
	#upload{
		width: $upload_w - 20px;
		margin-left: 20px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		svg{
			paddin: 10px;
			width: 80px;
			height: 80px;
			background-color: gray;
			border-radius: 50%;
			fill: white;
			margin-bottom: 20px;
		}
		p{
			font-size: 12px;
		}
	}
	@media screen and (max-width: 940px){
		.soundtracks{
			width: calc(100% - 40px - 340px);
		}
		#upload{
			width: 100%;
		}
	}
	@media screen and (max-width: 660px){
		flex-direction: column;
		> div{
			width: 100% !important;
			margin-left: 0 !important;
		}
		.sonidos{
			display: flex;
			justify-content: center;
		}
		.soundtracks{
			margin-top: 20px;
			.audio-list{
				padding-right: 0;
			}
		}
		
	}
}

#locations{
	position: relative;
	.header{
		display: flex;
		align-items: center;		
		background-color: white;
		background-image: url(../img/redes.png);
		justify-content: center;
		padding: 20px 5%;
		margin-top: -10px;
		height: 100px;
		color: #424242;
		background-size: cover;
		span{
			text-transform: uppercase;
			font-family: Squada One;
			font-size: 36px;
		}
		p{
			font-size: 14px;
			width: 250px;
			margin: 0 50px;
		}
		a{
			min-width: 30px;
			width: 30px;
			height: 30px;
			display: inline-block;
			border-radius: 50%;
			padding: 10px;
			background-color: #424242;
			margin-right: 20px;
			svg{
				width: 100%;
				height: 100%;
				fill: white;
			}
		}
		@media screen and (max-width: 950px){
			p{
				font-size: 11px;
			}
		}
		@media screen and (max-width: 810px){
			p{
				display: none;
			}
			span{
				margin-right: 20px;
				font-size: 25px;
			}
		}
		@media screen and (max-width: 440px){
			a{
				min-width: 20px;
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}
		}
	}
	#map{
		height: 80vh;
	}
	#types{
		position: absolute;
		height: 80vh;
		right: 0;
		top: 140px;
		margin: 0;
		padding: 0;
		z-index: 90;
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style: none;
		margin-right: 20px;
		li{
			width: 60px;
			height: 60px;
			background-color: gray;
			margin-bottom: 20px;
			cursor: pointer;
			border-radius: 50%;
			&:first-child{
				margin-top: 20px;
			}
		}
		@media screen and (max-width: 440px){
			li{
				width: 40px;
				height: 40px;
			}
		}
	}
	.gm-style-iw {
		width: 350px !important;
		top: 15px !important;
		left: 0px !important;
		background-color: #424242;
		box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
		border-radius: 2px 2px 85px 2px;
	}

	#iw-container {
		margin-bottom: 10px;
		.iw-header{
			display: flex;
			align-items: center;
			.user-img{
				min-width: 100px;
				height: 100px;
				background-position: center;
				background-size: cover;
				border-radius: 50%;
				z-index: 4;
				border: 2px solid white;
				box-sizing: border-box;
			}
			span{
				display: block;
				font-weight: 400;
			}
			.iw-user{
				font-size: 16px;
			}
			.iw-place, .iw-date{
				font-size: 11px;
			}
			.iw-title{
				padding: 5px;
				background-color: white;
				color: #424242;
				transform: translateX(-65px);
				border-radius: 16px;
				width: 164px;
				padding-left: 50px;
				margin-top: 10px;
				font-size: 15px;
				font-weight: 500;
				font-family: Prompt;
				font-style: italic;
			}
			.user-img, + p {
				margin: 15px;
			}
			+ p{
				margin-right: 30px;
			}
		}
		.iw-buttons{
			display: flex;
			align-items: center;
			justify-content: center;
			svg{
				margin-left: 10px;
				width: 20px;
				height: 20px;
				fill: white;
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
	.iw-close{
		width: 20px !important;
		height: 20px !important;
		background-image: url(../img/close.svg);
		top: 23px !important;
		right: 60px !important;
		img{
			display: none;
		}
	}

}