
$transitionAll: all .5s cubic-bezier(0,0,0.09,0.87);
$curve: cubic-bezier(0,0,0.09,0.87);
body{
	background-color: white;
	color: black;
}
main{
	display: flex;
	margin-top: 81px;
	padding: 40px 12%;
	& > *{
		width: calc(50% - 10px);
	}
	>.img {
		background-color: aliceblue;
    	margin-right: 20px;
	}
	@media screen and (max-width: 1000px){
		padding: 40px;
	}
	@media screen and (max-width: 650px){
    	flex-direction: column;
    	> * {
		    width: 100%;
		}
		> .img{
			margin-right: 0;
			height: 300px;
		}
	}
	@media screen and (max-width: 440px){
		padding: 40px 20px;
	}
}
.tabs{
	.body {
	    .tab{
			&[name="historia"]{
				h3{
					text-transform: uppercase;
					font-size: 30px;
					margin: 0;
				}
				.subtitulo{
					font-size: 22px;
					margin: 20px 0; 
				}
			}
		}
	}
}