body{
	background-color: white;
	color: black;
}
::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:active{
	background-color: black;
}
article{
	padding: 40px 12%;
	margin-top: 81px;
	.titulo{
		text-transform: uppercase;
	    font-size: 24px;
	    margin-bottom: 0px;
	}
	.path{
		font-size: 12px;
    	opacity: 0.8;	
	}
	.info{
		font-size: 12px;

	}
	.social{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		margin-top: 10px;
		margin-bottom: 20px;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		.left{
			display: flex;
			align-items: center;
			a{
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 50%;
				padding: 5px;
				background-color: black;
				margin-right: 5px;
				svg{
					width: 100%;
					height: 100%;
					fill: white;
				}
			}
		}
		.like{
			width: 20px;
			height: 20px;
			svg{
				width: 100%;
				height: 100%;
				fill: black;
			}
		}
	}
	@media screen and (max-width: 1100px){
		padding: 40px;
	}
	@media screen and (max-width: 440px){
		padding: 40px 20px;
	}
}
main{
	display: flex;
	.content{
		width: calc(100% - 380px);
		.img{
			background-color: black;
			width: 100%;
			height: 300px;
		}
		.split{
			display: flex;
			& > *{
				width: calc(50% - 10px);
			}
			.img{
				margin-right: 20px;
			}
			p{
				margin-top: 0;				
			}
		}
		p{
			font-size: 14px;
		}
	}
	
	aside{
		width: 360px;
    	margin-left: 20px;
    	h3{
    		margin-top: 0;
			padding-bottom: 10px;
			//border-bottom: 2px solid white;
			text-transform: uppercase;
		}
		.photo{
			width: 60px;
			height: 60px;
			background-color: gray;
			border-radius: 50%;			
		}
    	.preview{
			$m: 20px;
			margin-right: $m;
			width: calc(100% - #{$m});
			display: flex;
			.header{
				margin-top: 0;
			}
			.img{
				background-color: gray;
				width: 100%;
				height: 280px;
				margin-bottom: $m;
			}
			.content{
				position: relative;
				background-color: rgba(0, 0, 0, 0.2 );			
				padding: 15px;	
			}
			h3, p{
				margin: 15px 0;
			}
			.user{
				margin-right: 20px;
				.photo{
					background-color: gray;
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
				span{
					display: block;
					font-size: 13px;
				    font-weight: 500;
				    margin-top: 3px;
				}
				.name{
					text-transform: uppercase;
    				margin-top: 8px;
				}
			}
			.info{
				p{
					padding: 20px;
					background-color: #f5f5f5;
					margin-top: 0;
				    border-top-right-radius: 25px;
				    border-bottom-right-radius: 25px;
				}
			}


			.title{
				margin-top: 0;
			}
			p{
				font-size: 13px;
			}
		}
		ul{
			padding: 0;
		}
		.audio-list{
			height: 200px;
			overflow-y: auto;
			overflow-x: hidden;		
			padding-right: 10px;	
		}
		.articles{
			.article{
				border-top: 1px solid gray;
				padding-top: 20px;
				margin-top: 20px;
				p{
					margin-top: 0;
					margin-bottom: 5px;
					font-size: 14px;
    				font-weight: 500;
				}
				.info{
					font-size: 12px;
					opacity: 0.7;
				}
			}
		}
	}
	@media screen and (max-width: 760px){
		.content {
		    width: calc(100% - 270px);
		}
		aside{
			width: 250px;
			.preview{
			    width: 100%;
				margin-right: 0px;
			    flex-direction: column;
			    align-items: center;
			    .user{
				    display: flex;
				    flex-direction: column;
			    	margin-right: 0;
				    margin-bottom: 20px;
				    span{
				    	text-align: center;
			    	    font-size: 9px;
				    }
				    .name{
    					font-size: 13px;
				    }
			    }
			}
		}
	}
	@media screen and (max-width: 670px){
		 flex-direction: column;
		.content, aside{
			width: 100%;
		}
		aside{
			margin-left: 0;
			margin-top: 40px;
			.preview{
				flex-direction: row;
				.user{
					margin-right: 20px;
				}
			}
		}
	}
	@media screen and (max-width: 520px){
		.content p {
		    font-size: 12px;
		}
		aside .preview p {
		    font-size: 11px;
		}
	}
	@media screen and (max-width: 440px){
		.content {
			.split {
				flex-direction: column;
				> * {
		    		width: 100%;
		    	}
		    	.img{
		    		margin-right: 0px;
		    		margin-bottom: 20px;
		    	}
		    }
		}
		aside{
			.preview{
				flex-direction: column;
				.user{
					margin-right: 0px;
				}
			}
		}
	}
}