@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700|Squada+One');

$transitionAll: all .5s cubic-bezier(0,0,0.09,0.87);
$curve: cubic-bezier(0,0,0.09,0.87);
*{
	font-family: 'Prompt';
}
body{
	margin: 0;
	color: white;
	background-color: black;
	overflow-x: hidden;
	overflow-y: visible;
}
h1, h2, h3, h4, h5{
	font-family: 'Squada One';
	letter-spacing: 2px;
    font-weight: 300;
}
#menu{
	$w: 400px;
	width: $w;
	height: 100%;
	position: fixed;
	background-color: white;
	left: -$w;
	top: 0;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	z-index: 99;
	transition: left 0.5s $curve;
	$padding: 40px;
	overflow-y: auto;
	> *:not(.bg){
		z-index: 1;
		transform: translateX(-10px);
		opacity: 0;
		transition: transform 0.5s $curve, opacity 0.5s $curve;
	}
	.social{
		display: none;
		align-items: center;		
    	justify-content: center;
    	margin: 20px 0;
		margin-top: 75px;
		a{
			width: 20px;
			height: 20px;
			display: inline-block;
			border-radius: 50%;
			padding: 5px;
			background-color: black;
			margin-left: 5px;
			svg{
				width: 100%;
				height: 100%;
				fill: white;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
	nav{
		margin-top: 95px;
		transition-delay: 0.2s !important;
		a{
			display: block;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
		    font-weight: 500;
		    font-size: 18px;
		    text-align: right;
		    padding: 14px 0;
		    padding-right: $padding;
		    transition: $transitionAll;
		    position: relative;
		    &::after{
		    	content: attr(data-text);
		    	text-align: right;
		    	right: $padding;
		    	position: absolute;
		    	background:url('../img/ruido.gif');
			    background-repeat:repeat-x;
			    background-position:0 0;
			    color:transparent;
			    -webkit-font-smoothing:antialiased;
			    -webkit-background-clip:text;
			    -moz-background-clip:text;
			    background-clip:text;
			    -webkit-text-fill-color:transparent;
			    margin:0;
			    opacity: 0;
		    	transition: opacity 0.5s $curve;
		    }
		    &:hover{
		    	opacity: 0.6;
		    	transform: scale(0.96);
		    	&::after{
		    		opacity: 1;
		    	}
		    }
		}
	}
	.search{
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0 $padding;
		margin-bottom: $padding;
		transition-delay: 0.3s !important;

		input{
			height: 100%;
		    width: 100%;
			background-color: transparent;
			border: none;
			padding: 0;
    		padding-left: 13px;
		    background-color: #f3f3f3;
		    outline: none;
		}
		#search{
			width: 40px;
			min-width: 40px;
			height: 100%;
			padding: 7px;
			background-color: black;
			box-sizing: border-box;
			cursor: pointer;
			svg{
				width: 100%;
				height: 100%;
				fill: white;
			}
		}
	}
	.bg{
		position: absolute;
	    top: 0;
	    height: 100%;
	    width: 100%;
	    left: 0;
	    overflow: visible;
	    z-index: 0;
	    display: none;
	    fill: white;
	}
	@media screen and (max-width: 440px){
		width: 100%;
		left: -100%;
		background-color: transparent;
		.social{
			display: flex;
		}
		nav{
			margin-top: 0;
			a{
				text-align: center;
				padding-right: 0;
			}
		}
	}
}
#menuBg{
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	display: none;
	left: 0;
	top: 0;
	z-index: 97;
	background-color: black;
	transition: opacity 1s cubic-bezier(0, 0.92, 0.58, 1);;
}
#menuToggle{
	width: 30px;
	height: 25px;
	position: fixed;
	left: 20px;
    top: 25px;
	cursor: pointer;
	z-index: 999;
	transition: left 0.5s $curve;
	svg{
		width: 100%;
		height: 100%;
		fill: white;
		stroke: white;
		stroke-width: 3px;
		overflow: visible;
		path{
			transition: $transitionAll;
			transform-origin: center;
			&:nth-child(2){
				transform: translateY(15px);
			}
			&:nth-child(3){
				transform: translateY(30px);
			}
		}
	}
	@media screen and (max-width: 390px){
		width: 40px;
		height: 23px;
	}
}
header{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	height: 81px;
	z-index: 98;
	position: fixed;
    width: calc(100% - 40px);
    top: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
	.name{
		transition: opacity 0.5s $curve;
		img{
			height: 40px;
		}
	}
	.right{
		position: absolute;
    	right: 20px;
		a{
			width: 20px;
			height: 20px;
			display: inline-block;
			border-radius: 50%;
			padding: 5px;
			background-color: white;
			margin-right: 5xpx;
			svg{
				width: 100%;
				height: 100%;
			}
			&.login{
				background-color: transparent;
			    fill: white;
			    border: 2px solid white;
			    width: 20px;
			    height: 20px;
			    padding: 3px;
			    cursor: pointer;
			}
		}
	}
	@media screen and (max-width: 654px){
		.name img{
			width: 190px;
			height: auto;
		}
	}
	@media screen and (max-width: 440px){
		.right a:not(.login){
			display: none;

		}
	}
	@media screen and (max-width: 390px){
		.name {
			margin: 0;
			img{
				width: 180px;
				height: auto;
			}
		}
	}
}
body.menu-show{
	#menu{
		left: 0;
	}
	#menuToggle{
		left: 430px;
		path{
			&:nth-child(1){
				opacity: 0;
			}
			&:nth-child(2){
				transform: translateY(15px) rotateZ(-45deg);
			}
			&:nth-child(3){
			    transform: translateY(15px) rotateZ(45deg);
			}
		}
		@media screen and (max-width: 650px){
			left: 340px;
			svg{
				fill: black;
				stroke: black;
			}
		}
		@media screen and (max-width: 440px){
			right: 20px;
    		left: auto;
		}
	}
	header {
		.name{
			opacity: 0;
		}
	}
	
}
section{
	padding: 10px 15%;
	@media screen and (max-width: 1400px){
		padding: 10px 5%;
	}
}
.tabs{
	.header{
		display: flex;
		height: 60px;
		align-items: center;
		position: relative;
		.button{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
    		width: 110px;
			cursor: pointer;
			background-image: url('../img/tab-black.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transition: background 0.5s $curve, opacity 0.5s $curve;
			z-index: 4;
			span{
				color: white;
				text-transform: uppercase;
				font-family: Squada One;
			}
			&:not(:first-child){
				margin-left: -20px;
			}
			&:nth-child(2){
				z-index: 3;
			}
			&:nth-child(3){
				z-index: 2;
			}
			&.active{
				background-image: url('../img/tab-gray.png');
			}
			&.disabled{
				visibility: hidden;
				display: none;
			}
		}
	}
	.body {
	    width: 100%;
	    overflow-x: hidden;
	    white-space: nowrap;
	    height: calc(100% - 40px);
	    background-color: white;
	    .tab{
		    position: relative;
		    top: 0;
		    height: 0;
		    transition: right 0.5s $curve, opacity 0.5s $curve;
		    right: -100%;
		    white-space: normal;
		    opacity: 0;
		    padding: 20px;
		    overflow-y: auto;
		    padding: 0;
		    &.active {
			    display: block;
			    right: 0;
			    opacity: 1;
			    height: auto;
			    padding: 20px;
			}
		}
	}
}
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track{
	width: 5px;
	height: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-button {
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: white;
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:active{
	background-color: #eee;
}

.audio-element{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width: calc(100% - 10px);
    padding-left: 10px;
	margin-top: 20px;
    box-sizing: unset;
    color: white;
	.buttons{
		display: flex;
		div{
			width: 20px;
			height: 20px;	
			padding: 5px;
			cursor: pointer;
    		transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.95);	
			svg{
				width: 100%;
				height: 100%;
				fill: white;
			}
			img{
				width: 100%;
				height: 100%;
			}
			&:hover{
				transform: scale(0.8);
				opacity: 0.7;
			}
		}
		.play{
			/*background-color: white;
			width: 15px;
			height: 15px;
			padding: 10px;
			border-radius: 50%;
			svg{
				fill: black;
			}
			*/
			
		}
	}
}
.form-element{
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 2px solid black;
	.icon{
		width: 20px;
		height: 20px;
		fill: black;
		position: absolute;
		z-index: 0;
	}
	input{
		width: 100%;
		height: 40px;
		border: none;
		background-color: transparent;
		padding-left: 30px;
		z-index: 2;
		outline: none;
	}
}
footer{
	padding: 40px 5%;
	min-height: 70vh;
	background-color: black;
	display: flex;
	justify-content: flex-end;
	&::before{ 
		background-image: url(../img/footer-fill.jpg) !important;		
		background-size: cover !important;
	}
	.center{
		position: absolute;
		width: 100%;
		height: 60%;
		bottom: 0px;
		padding-bottom: 80px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: flex-end;
		left: 0;
		background-image: url(../img/llorona-footer.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		.logo{
			width: 300px;
    		margin-bottom: 40px;
		}
		

		.social{
			display: flex;
			align-items: center;
			justify-content: center;
			a{
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 50%;
				padding: 10px;
				background-color: white;
				margin-right: 20px;
				svg{
					width: 100%;
					height: 100%;
					fill: black;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.right{
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
		span, a{
			display: block;
			text-decoration: none;
			color: white;
			font-weight: 300;
		}
		h5{
			font-family: 'Prompt';
		    font-size: 14px;
		    letter-spacing: 0;
		}
		.uppercase{
			text-transform: uppercase;
		}
		.imgs{
			display: flex;
			align-items: center;
			.img{
				width: 150px;
				height: 150px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				&.cultura{
					background-image: url(../img/cultura.png);
				}
				&.todos{
					background-image: url(../img/todos.png);
				}
			}
		}
	}
	@media screen and (max-width: 820px){
		height: 600px;
		.center{
			padding-bottom: 28px;
			.logo{
				width: 144px;
			}
		}
		.right{
			justify-content: flex-start;
		}
	}
}
.modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.64);
	
	.window{
		width: calc(100% - 20px); 
	    height: calc(100% - 20px);
	    max-width: 1300px;
		max-height: 800px;
		background: white;
	}
	&.show{
		display: flex;
	}
}
.modal-login{
	opacity: 0;
	transition: all 0.5s $curve;
	.window{
		width: 350px; 
	    height: 320px;
	    max-width: none;
	    max-height: none;
	    transition: all 0.5s $curve;
	    overflow: hidden;
	    position: relative;
        $header: 60px;
	   	color: black;
	   	opacity: 0;
	   	transform: scale(0.9);
	    .header{
	    	display: flex;
	    	align-items: center;
	    	.button{
	    		height: 40px;
	    		padding: 10px;
	    		font-size: 20px;
	    		cursor: pointer;
	    		width: calc(50% - 20px);
	    		display: flex;
	    		align-items: center;
	    		justify-content: center;
	    		transition: opacity 0.5s $curve;
	    		&:not(.login):hover{
	    			opacity: 0.4;
	    		}
	    	}
	    	.register{
	    		background-color: #f5f5f5;
	    	}
	    }
	    .modal-form{
	    	padding: 0 20px;
            width: calc(100% - 40px);
            .form-element{
            	width: 100%;
            	margin-bottom: 20px;
            	&:first-child{
            		margin-top: 10px;
            	}
            }
            button{
            	width: 100%;
            	padding: 14px 0;
            	background-color: black;
            	margin-bottom: 20px;
            	margin-top: 30px;
            	color: white;
            	outline: none;
            	border: none;
            	font-size: 17px;
            	cursor: pointer;
            }
	    }
	    .login-form{
            transition: opacity 0.5s $curve;
	    }
	    .register-form {
            height: calc(100% - #{$header});
            position: absolute;
            left: 40px;
            top: 60px;
            opacity: 0;
            display: none;
            z-index: 9;
            background-color: white;
            transition: opacity 0.5s $curve, left 0.5s $curve;
        }
	    &.show-register{
	    	height: 430px;
	    	.header{
	    		.login{
		    		background-color: #f5f5f5;
		    		&:hover{
		    			opacity: 0.4;
		    		}
		    	}
		    	.register{
		    		background-color: white;
		    		&:hover{
		    			opacity: 1;
		    		}
		    	}
	    	}
	    	.register-form{
	    		left: 0;
                opacity: 1;
	    	}
	    	.login-form{
                opacity: 0;
	    	}
	    }
		@media screen and (max-width: 370px){
			width: 100%;
		}
	}
}